<div class="about-main">
  <h1><i class="fas fa-crosshairs" style="color: white; padding: 0 0 0 30px;"></i>&nbsp;サービスの目的</h1>
  <div class="about-img-1">
    <h2>・背景(待機児童問題)</h2>
    <p>
      <b>
        認可保育園などに入れない待機児童について、朝日新聞が主要７５市区町に調査したところ、今年４月時点の待機児童が計７８９４人いることがわかった、と報じられています。昨年より３割は減っているということですが、政府が当初「２０１７年度末に達成する」としていた待機児童ゼロは、先送りされた目標の２０２０年度末の達成も見通せない状況です[1]。(今年とは2019年のことです。)<br>
        &nbsp;&nbsp;東京23区・市部で待機児童率が1番高いのは目黒区です。保育サービスを利用したいと考えているご家庭の子供は約5500人います。そのうち待機児童となってしまっているのは617人、11.3%です。9人に1人は待機児童になってしまうということです[2]。<br>
        &nbsp;&nbsp;赤ちゃんを近辺の保育所へ預けられないときは仕事場または遠くの保育所まで連れていくことになるため、ベビーカーが必要になります。
      </b>
    </p>
  </div>
  <br><br>
  <div class="about-img-2">
    <h2>・社会環境(満員電車)</h2>
    <p>
      <b>
        自宅近くの保育所に赤ちゃんを預けられない場合、働く女性らはラッシュ時の電車に乗り、遠くの保育所までベビーカーを押して移動する。ところが「満員電車にベビーカーは迷惑」と非難されることが少なくない。びくびくしながら電車に乗らなければならない社会の雰囲気を変えたい。そんな思いで、母親たちが声を上げている[3]。<br>
        &nbsp;&nbsp;「いろんな事情があって、みんながどの時間に乗ってもいいのが公共の物だから。ルールはないから。だから堂々と乗るというのを（ママ、パパは）やって、受け入れるのを世の中でやらないと」と訴え[4]。<br>
        &nbsp;&nbsp;しかし、まだ偏見があるため電車に乗らずに赤ちゃんと一緒にタクシーや自家用車などで仕事場や遠くの保育所などへ連れて行くのが現状です。
      </b>
    </p>
  </div>
  <br><br>
  <div class="about-img-3">
    <h2>・達成目標</h2>
    <p>
      <b>
        BuggyHub(バギーハブ)はベビーカーのシェアリングサービスとして「ベビーカーをコミュニケーションツールに！」を達成目標に運営するWebサイトです。<br>
        &nbsp;&nbsp;満員電車などの狭い空間でベビーカーを使えず、赤ちゃんを抱っこして仕事場または保育所まで行くときは電車に乗る前にサービスが提供されていれば、ベビーカーを預けられるエリアを予約できます。また、電車から降りた後にベビーカーを借りられるエリアも予約できます。休日に赤ちゃんと公園や遊園地などでベビーカーなしで遊ぶときにベビーカーを預けるエリアを予約する目的でBuggyHubを利用されても構いません。<br>
        &nbsp;&nbsp;BuggyHubのWebサイトを通してベビーカーをきっかけにサービス提供者とサービス利用者との交流が生まれ、Buggy(ベビーカー)がHub(ハブ)となりコミュニケーションツールの1つとして認知されることを願っています。
      </b>
    </p>
  </div>
  <br>
  <span>
    <h2>・参考文献</h2>
    <p class="reference-paragraph">
      <b>
        1. 小宮山洋子(2019)「待機児童７８９４人（主要７５市区町）　無償化より待機児童解消を」, "https://blogos.com<br>/article/390091/" 2019年7月10日アクセス.
        <br>
        2. マンションくらし研究所(2019)「東京23区・市部 待機児童問題 深刻度ランキング、待機児童率の推移」,
        "https://mansionmarket-lab.com/tokyo-children-on-waiting-list" 2019年7月10日アクセス.
        <br>
        3. 石原真樹(2019)「「満員電車にベビーカーで乗るな！」 罵声、舌打ち…ノーモア「びくびく通勤」　当事者がアンケート」, "https://sukusuku.tokyo-np.co.jp/hoiku/12005/"
        2019年7月10日アクセス.
        <br>
        4. 「竹山、満員電車にベビーカー「公共の物、堂々乗っていい」にママ達涙「ありがとう」」,
        "https://headlines<br>.yahoo.co.jp/hl?a=<br>20190524-00000043-dal-ent" 2019年7月10日アクセス.
      </b>
    </p>
  </span>
  <span>
    <h2>・更新情報</h2>
    <p>
      <b>
        2019年7月19日&nbsp;&nbsp;リリース
      </b>
    </p>
  </span>
</div>