<div class="main maps-show">
  <div class="maps-show">
    <div class="container">
      <div class="user">
        <h2 style="word-wrap: break-word; font-size: 35px;">
          <i class="fas fa-user" style="color: hotpink;"></i>&nbsp;本 敬之(もと たかゆき)
        </h2>
        <p style="word-wrap: break-word;">
          <i class=" fas fa-envelope"
            style="color:hotpink;"></i>&nbsp;b1100770DUMMY@planet.kanazawa-it.ac.jp<br>※スパム対策のため、メールでの問い合わせは「DUMMY」という文字を削除して下さい。<br>
          <i class="fab fa-twitter" style="color: #00acee;"></i>&nbsp;@cycleWebFPGA&nbsp;(できればフォローのほど、よろしくお願いします。)
        </p>
      </div>

      <div class="posts-index-item">
        <table>
          <tr valign="top" align="left">
            <td class="map-top-td" width="30%" style="padding:0 0 20px 0;">
              <p class="map-p"><i class="fas fa-birthday-cake" style="color: hotpink;"></i>&nbsp;誕生年</p>
            </td>
            <td class="map-top-td" style="padding:0 0 20px 10px;">
              <p class="map-p"></i>1992年</p>
            </td>
          </tr>
          <tr valign="top" align="left">
            <td class="map-top-td" width="30%" style="padding:0 0 20px 0;">
              <p class="map-p"><i class="fas fa-map-pin"></i>&nbsp;出身地</p>
            </td>
            <td class="map-top-td" style="padding:0 0 20px 10px;">
              <p class="map-p">石川県金沢市
              </p>
            </td>
          </tr>
          <tr valign="top" align="left">
            <td class="map-top-td" width="30%" style="padding:0 0 20px 0;">
              <p class="map-p"><i class="fas fa-home" style="color: hotpink;"></i>&nbsp;住所</p>
            </td>
            <td class="map-top-td" style="padding:0 0 20px 10px;">
              <p class="map-p">東京都区部
              </p>
            </td>
          </tr>
          <tr valign="top" align="left">
            <td class="map-top-td" width="30%" style="padding:0 0 20px 0;">
              <p class="map-p"><i class="fas fa-graduation-cap" style="color: hotpink;"></i>&nbsp;学位</p>
            </td>
            <td class="map-top-td" style="padding:0 0 20px 10px;">
              <p class="map-p">修士(情報科学)</p>
            </td>
          </tr>
          <tr valign="top" align="left">
            <td class="map-top-td" width="30%" style="padding:0 0 20px 0;">
              <p class="map-p"><i class="fas fa-user-graduate" style="color: hotpink;"></i>&nbsp;研究</p>
            </td>
            <td class="map-top-td" style="padding:0 0 20px 10px;">
              <p class="map-p" style="word-wrap: break-word;">シミュレーテッド・アニーリングを利用した並列プレフィックス加算器の構成
                <a href="http://www.ieice.org/ken/paper/20170303EbsG/" target="_blank"
                  style="font-size: 20px;">(<u>リンク</u>)</a>
              </p>
            </td>
          </tr>
          <tr valign="top" align="left">
            <td class="map-top-td" width="30%" style="padding:0 0 20px 0;">
              <p class="map-p"><i class="fas fa-building" style="color: hotpink;"></i>&nbsp;職歴</p>
            </td>
            <td class="map-top-td" style="padding:0 0 20px 10px;">
              <p class="map-p">石川県でプリンタブルエレクトロニクスの設計を1年1か月</p>
            </td>
          </tr>
          <tr valign="top" align="left">
            <td class="map-top-td" width="30%" style="padding:0 0 20px 0;">
              <p class="map-p"><i class="fas fa-music" style="color: hotpink;"></i>&nbsp;趣味</p>
            </td>
            <td class="map-top-td" style="padding:0 0 20px 10px;">
              <p class="map-p"></i>音楽を聞くこと</p>
            </td>
          </tr>
          <tr valign="top" align="left">
            <td class="map-top-td" width="30%" style="padding:0 0 0 0;">
              <p class="map-p"><i class="fas fa-thumbs-up" style="color: hotpink;"></i>&nbsp;PR</p>
            </td>
          </tr>
          <tr valign="top" align="left">
            <td class="map-top-td" colspan="2">
              <p class="map-p" style="text-indent: 1em; word-wrap: break-word;">
                文部科学省の「大学間連携共同教育推進事業」に採択された組込みシステムの取り組みで、私が通学していた大学と大学院の学長、両大学の教職員、企業の方々の前で代表者として発表しました。<br>
              </p>
              <p class="map-p" style="text-indent: 1em; word-wrap: break-word;">
                大学生のときにプリント基板設計ソフトウェアEAGLEで回路図からレイアウト設計まで行い、Arduinoを用いてプログラミングしてデータロガーを製作しました。ハードウェアとソフトウェアの技術力を習得しました。<br>
              </p>
              <p class="map-p" style="text-align: center;">
                <img src="/self_intro/data_logger_pic.JPG" style="width: 100%; margin: 20px 0 20px 0;">
                <img src="/self_intro/data_logger_sch.png" style="width: 100%; margin: 0 0 20px 0;">
                <img src="/self_intro/data_logger_brd.png" style="width: 100%;">
                図&nbsp;&nbsp;データロガー(写真、回路図、ボード図)
              </p>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>