<div class="main top-main top-img">
  <div class="top-message">
    <span class="fa">
      <i class="fas fa-baby-carriage fa-4x top-buggy"></i>
      <i class="fas fa-life-ring fa-1x top-buggy-tire1"></i>
      <i class="fas fa-life-ring fa-1x top-buggy-tire2"></i>
    </span>
    <h2>ベビーカーをコミュニケーションツールに！</h2>
    <p>[ベビーカーのシェアリングサービス]</p>
  </div>
</div>